.section_banner{
  background-image: url(../../../public/banner-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section_banner div{
  width: 100%;
  max-width: 1024px;
  margin: auto;
  text-align: end;
}

.section_banner h2{
  font-size: 3rem;
  color: #444;
}

.section_banner p{
  font-size: 2rem;
  line-height: 4rem;
  color: #444;
}

.section_banner button{
  background-color: rgba(0, 0, 0, );
  padding: 1rem;
  border: 1px solid #555;
  border-radius: 1.5rem;
  font-size: .9rem;
  margin-top: 1.5rem;
}