.header_container{
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid orange;
}

.container{
  display: flex;
  justify-content: space-between;
  min-width: 1024px;
  align-items: center;
}

.logo{
  width: 4rem;
  height: 2.5rem;
}

.menu{
  display: flex;
  gap: 2rem;
}

.link{
  text-decoration: none;
}